In [42]:
# initial imports
import json
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.metrics import accuracy_score
import joblib

In [33]:
# load dataset
df = pd.read_csv('https://raw.githubusercontent.com/pplonski/datasets-for-start/master/adult/data.csv', skipinitialspace=True)
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [22]:
x_cols = df.drop('income', axis=1)
X = x_cols
y = df['income']
print(X.shape, y.shape)

(32561, 14) (32561,)

In [20]:
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.3, random_state=42)
print(X_train.shape, y_train.shape, X_val.shape, y_val.shape)

(22792, 14) (22792,) (9769, 14) (9769,)

In [32]:
# fill missing values using mode
# X_train.count()
X_train_modes = dict(X_train.mode().iloc[0])
print(X_train_modes)
X_train = X_train.fillna(X_train_modes)
X_train.count()

{'age': 28, 'workclass': 'Private', 'fnlwgt': 203488, 'education': 'HS-grad', 'education-num': 9, 'marital-status': 'Married-civ-spouse', 'occupation': 'Prof-specialty', 'relationship': 'Husband', 'race': 'White', 'sex': 'Male', 'capital-gain': 0, 'capital-loss': 0, 'hours-per-week': 40, 'native-country': 'United-States'}

age               22792
workclass         22792
fnlwgt            22792
education         22792
education-num     22792
marital-status    22792
occupation        22792
relationship      22792
race              22792
sex               22792
capital-gain      22792
capital-loss      22792
hours-per-week    22792
native-country    22792
dtype: int64

In [46]:
# convert categorical features into numbers
encoders = {}
for col in ['workclass', 'education', 'marital-status',
            'occupation', 'relationship', 'race',
            'sex', 'native-country']:
    encoder = LabelEncoder()
    X_train[col] = encoder.fit_transform(X_train[col])
    encoders[col] = encoder
    
X_train.head()
print(y_train.values)

['<=50K' '>50K' '<=50K' ... '<=50K' '<=50K' '<=50K']

In [41]:
# train models
rf = RandomForestClassifier(n_estimators=100)
rf.fit(X_train, y_train)

et = ExtraTreesClassifier(n_estimators=100)
et.fit(X_train, y_train)

ExtraTreesClassifier()

In [ ]:
# save preprocessing objects and trained models
joblib.dump(X_train_modes, "./X_train_modes.joblib")
joblib.dum